* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.fundo_colorido2 {
    display: flex;
    padding: 3vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100vh;
    width: 100%;

    .caixa {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80vh;
        height: 30vh;
    }

    h1 {
        font-size: 8vh;
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #23458B;
    }

    .carrossel {
        width: 100%;

        .swiper {
            padding-bottom: 8vh;
        }

        .slide-text {
            color: #23458B;

            h1 {
                font-size: 3vh;
            }
        }

        .swiper-slide {
            display: flex;
            flex-direction: column;
            display: flex;
            width: 100%;
            cursor: grab;
        }

        .swiper-slide:active {
            cursor: grabbing;
        }

        .slide-item {
            width: 100vh;
            width: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .swiper-button-prev,
        .swiper-button-next {
            display: none !important;
            color: black;
        }

        .swiper-pagination-bullet {
            background: #303261;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .fundo_colorido2 {
        display: flex;
        padding: 3vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        height: 100vh;
        width: 100%;

        .caixa {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80vh;
            height: 30vh;
        }

        h1 {
            font-size: 8vh;
            font-family: "Archivo Black", sans-serif;
            font-weight: 400;
            font-style: normal;
            color: #23458B;
        }

        .carrossel {
            width: 100%;

            .swiper {
                padding-bottom: 8vh;
            }

            .slide-text {
                color: #23458B;

                h1 {
                    font-size: 3vh;
                }
            }

            .swiper-slide {
                display: flex;
                flex-direction: column;
                display: flex;
                width: 100%;
                cursor: grab;
            }

            .swiper-slide:active {
                cursor: grabbing;
            }

            .slide-item {
                width: 100vh;
                width: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            .swiper-button-prev,
            .swiper-button-next {
                display: none !important;
                color: black;
            }

            .swiper-pagination-bullet {
                background: #303261;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .fundo_colorido2 {
        display: flex;
        padding: 3vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        height: 100vh;
        width: 100%;

        .caixa {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80vh;
            height: 30vh;
        }

        h1 {
            font-size: 8vh;
            font-family: "Archivo Black", sans-serif;
            font-weight: 400;
            font-style: normal;
            color: #23458B;
        }

        .carrossel {
            width: 100%;

            .swiper {
                padding-bottom: 8vh;
            }

            .slide-text {
                color: #23458B;

                h1 {
                    font-size: 3vh;
                }
            }

            .swiper-slide {
                display: flex;
                flex-direction: column;
                display: flex;
                width: 100%;
                cursor: grab;
            }

            .swiper-slide:active {
                cursor: grabbing;
            }

            .slide-item {
                width: 100vh;
                width: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            .swiper-button-prev,
            .swiper-button-next {
                display: none !important;
                color: black;
            }

            .swiper-pagination-bullet {
                background: #303261;
            }
        }
    }
}