* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.fundo_colorido1 {
    display: flex;
    background-color: #F5BA53;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    height: 50vh;
    padding: 5vh;

    .alinhador {
        display: flex;
        gap: 2vh;

        .titulo {
            display: flex;
            width: 80vh;
            align-items: center;
            padding-left: 4vh;

            h1 {
                font-size: 8vh;
                font-family: "Archivo Black", sans-serif;
                font-weight: 400;
                font-style: normal;
                color: #23458B;
            }
        }

        .caixa {
            display: flex;
            align-items: center;
            background-color: white;
            max-width: 110vh;
            height: 30vh;
            font-size: 3.2vh;
            padding: 5vh;
            border-radius: 1vh;

            h3 {
                text-align: justify;
                font-size: 2.6vh;
                font-family: "Archivo Black", sans-serif;
                font-weight: 400;
                font-style: normal;
                color: #23458B;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .fundo_colorido1 {
        height: auto;
        flex-direction: column;
        padding: 4vh;

        .alinhador {
            flex-direction: column;
            align-items: center;
            gap: 3vh;

            .titulo {
                width: 100%;
                text-align: center;
                padding: 0;

                h1 {
                    font-size: 5.5vh;
                }
            }

            .caixa {
                max-width: 90%;
                height: auto;
                padding: 4vh;

                h3 {
                    font-size: 2.2vh;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .fundo_colorido1 {
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 4vh;

        .alinhador {
            flex-direction: column;
            gap: 2vh;
            align-items: center;

            .titulo {
                width: 100%;
                text-align: center;
                padding: 0;

                h1 {
                    font-size: 4vh;
                }
            }

            .caixa {
                max-width: 90%;
                height: auto;
                padding: 3vh;
                text-align: center;

                h3 {
                    font-size: 1.8vh;
                }
            }
        }
    }
}
