* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.fundo_colorido2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3vh;
    background-color: white;
    width: 100%;
    height: auto;

    .caixa {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        text-align: center;

        h1 {
            font-size: 7vh;
            font-family: "Archivo Black", sans-serif;
            font-weight: 400;
            color: #23458B;
        }
    }

    .carrossel {
        width: 100%;

        .swiper {
            padding-bottom: 6vh;
        }

        .slide-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .slide-item {
                width: 100%;
                max-width: 70vh;
                border-radius: 1vh;
                object-fit: cover;
            }

            .slide-text {
                margin-top: 2vh;
                color: #23458B;

                h1 {
                    font-size: 3vh;
                    font-family: "Archivo Regular", sans-serif;
                    font-weight: 400;
                    color: #23458B;
                }

                h1 {
                    font-size: 2.5vh;
                    font-family: "Archivo Black", sans-serif;
                    font-weight: 400;
                    color: #23458B;
                }
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            display: none !important;
        }

        .swiper-pagination-bullet {
            background: #303261;
        }
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1280px) {
    .fundo_colorido2 {
        .caixa h1 {
            font-size: 5vh;
        }

        .carrossel {
            .slide-item {
                max-width: 50vh;
            }

            .slide-text {
                h1 {
                    font-size: 2.5vh;
                }

                h3 {
                    font-size: 1.8vh;
                }
            }
        }
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .fundo_colorido2 {
        padding: 2vh;

        .caixa {
            width: 100%;

            h1 {
                font-size: 4vh;
            }
        }

        .carrossel {
            .slide-item {
                max-width: 90%;
            }

            .slide-text {
                h1 {
                    font-size: 2.2vh;
                }

                h3 {
                    font-size: 1.6vh;
                }
            }
        }
    }
}