* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.fundo_colorido7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #303261;

  .bloco {
    display: flex;
    background-color: #F5B11B;
    width: 20vh;
    height: 2.2vh;
  }

  .alinhador {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 5vh 0;

    .conteudo {
      display: flex;
      flex-direction: column;
      gap: 2vh;
      width: 65%;
      padding: 2vh;

      h1 {
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-size: 3.5vh;
        color: white;
      }

      .descricao {
        display: flex;
        background-color: #F5BA53;
        padding: 2vh;
        border-radius: 1vh;

        h3 {
          font-family: "Archivo Black", sans-serif;
          font-weight: 400;
          font-size: 2vh;
          text-align: justify;
        }
      }
    }

    .imagem {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30%;

      img {
        width: 100%;
        height: auto;
        border-radius: 1vh;
      }
    }
  }
}

.alinhador-invert {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  .conteudo {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 65%;
    padding: 7vh;

    h1 {
      font-family: "Archivo Black", sans-serif;
      font-weight: 400;
      font-size: 7vh;
      color: white;
    }

    .descricao {
      display: flex;
      background-color: #F5BA53;
      padding: 3vh;
      border-radius: 1vh;

      h3 {
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-size: 3vh;
        text-align: justify;
      }
    }
  }

  .imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;

    img {
      width: 100%;
      height: auto;
      border-radius: 1vh;
      margin-left: 0;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .fundo_colorido7 {
    display: flex;
    background-color: #303261;
    height: 85vh;
    width: 100%;
    justify-content: center;
    align-items: center;

    .bloco {
      display: flex;
      background-color: #F5B11B;
      width: 20vh;
      height: 2.2vh;
    }

    .alinhador {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .conteudo {
        display: flex;
        gap: 1.5vh;
        flex-direction: column;
        width: 50%;
        padding: 5vh;

        h1 {
          font-family: "Archivo Black", sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: 4.5vh;
          color: white;
          width: 60vh;
        }

        .descricao {
          display: flex;
          background-color: #F5BA53;
          padding: 3vh;
          border-radius: 1vh;

          h3 {
            font-family: "Archivo Black", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 2.5vh;
            width: 100%;
            text-align: justify;
          }
        }
      }

      .imagem {
        display: flex;
        align-items: center;
        height: 85vh;
        width: 50%;

        img {
          height: 85vh;
          width: 100%;
          z-index: 1;
        }
      }
    }
  }
}