.fundo_colorido9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 160vh; // VOLTAR
    width: 100%;
    background-color: #23458B;
    gap: 2vh;

    .titulo_cadastro {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;

        h2 {
            display: flex;
            color: white;
            font-family: "Archivo Black", sans-serif;
            font-weight: 400;
            font-size: 7vh;
        }

        span {
            display: flex;
            color: #F5B11B;
            font-family: "Archivo Black", sans-serif;
            font-weight: 400;
            font-size: 7vh;
        }
    }

    .campo_input {
        display: flex;
        justify-self: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        background-color: #F5BA53;
        border-radius: 1vh;
        padding: 5vh;
        height: 123vh; // VOLTAR
        width: 37%;

        label {
            display: flex;
            font-size: 3.5vh;
            flex-direction: column;
            color: black;
            font-family: "Archivo Black", sans-serif;
            font-weight: 400;
            font-size: 3vh;
        }

        input {
            height: 5vh;
            width: 100%;
            padding: 1vh;
            outline: none;
            border: none;
        }

        select {
            height: 5vh;
            width: 100%;
            padding: 1vh;
            outline: none;
            border: none;
        }

        button {
            display: flex;
            margin-top: 3vh;
            align-items: center;
            justify-content: center;
            width: 70%;
            height: 8vh;
            justify-self: center;
            background-color: #28a745;
            border: black solid 0.5vh;
            border-radius: 1vh;
            cursor: pointer;
            transition: all 0.7s;
            outline: none;
            color: white;
            font-family: "Archivo Black", sans-serif;
            font-weight: 400;
            font-size: 3vh;
        }

        button:hover {
            color: black;
            background-color: transparent;
        }

        #botao1 {
            min-width: 107%;
            background-color: #007bff;
        }

        #botao1:hover {
            background-color: transparent;
            color: black;
        }

        #botao2 {
            background-color: #fd7e14;
            min-width: 385%;
        }

        #botao2:hover {
            background-color: transparent;
            color: black;
        }
    }

    p {
        color: black;
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        margin-top: 1.5vh;
        font-size: 2vh;
    }

    a {
        text-decoration: none;
    }
}