.fundo_colorido9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 170vh;
    width: 100%;
    background-color: #23458B;
    gap: 2vh;
    padding-top: 2vh;

    .titulo_cadastro {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        h2 {
            color: white;
            font-family: "Archivo Black", sans-serif;
            font-weight: 400;
            font-size: 7vh;
        }

        span {
            color: #F5B11B;
            font-family: "Archivo Black", sans-serif;
            font-weight: 400;
            font-size: 7vh;
        }
    }

    .campo_input {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F5BA53;
        border-radius: 1vh;
        padding: 5vh;
        width: 37%;
        min-width: 300px;
        gap: 2vh;

        label {
            font-family: "Archivo Black", sans-serif;
            font-weight: 400;
            font-size: 3vh;
            color: black;
            width: 100%;
        }

        input,
        select {
            height: 5vh;
            width: 100%;
            padding: 1vh;
            outline: none;
            border: none;
            border-radius: 0.5vh;
            margin-bottom: 2vh;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 8vh;
            margin-top: 1.5vh;
            background-color: #28a745;
            border: none;
            border-radius: 1vh;
            cursor: pointer;
            transition: all 0.5s;
            outline: none;
            color: white;
            font-family: "Archivo Black", sans-serif;
            border: none;
            font-weight: 400;
            font-size: 3vh;
        }

        #botao:hover {
            background-color: #2e8843;
        }

        #botao1 {
            width: 100%;
            background-color: #007bff;
            margin-top: 1.5vh;
        }

        #botao1:hover {
            background-color: #1466bd;
        }

        #botao2 {
            width: 100%;
            background-color: #fd7e14;
            margin-top: 1.5vh;
        }

        #botao2:hover {
            background-color: #c76e25;
        }
    }
}

@media screen and (max-width: 1280px) {
    .fundo_colorido9 .campo_input {
        width: 70%;
        padding: 3vh;
    }

    .titulo_cadastro h2,
    .titulo_cadastro span {
        font-size: 5vh;
    }

    .campo_input label {
        font-size: 2.5vh;
    }

    .campo_input input,
    .campo_input select {
        height: 4.5vh;
        font-size: 2vh;
    }

    .campo_input button {
        height: 7vh;
        font-size: 2.5vh;
    }
}

@media screen and (max-width: 767px) {
    .fundo_colorido9 .campo_input {
        width: 90%;
        padding: 2vh;
    }

    .titulo_cadastro h2,
    .titulo_cadastro span {
        font-size: 4vh;
    }

    .campo_input label {
        font-size: 2vh;
    }

    .campo_input input,
    .campo_input select {
        height: 4vh;
        font-size: 1.8vh;
    }

    .campo_input button {
        height: 6vh;
        font-size: 2vh;
    }
}

@media screen and (max-width: 1280px) and (min-width: 768px) {
    .fundo_colorido9 {
        height: auto;
    }

    .campo_input {
        width: 60%;
        padding: 4vh;
        height: auto;
    }

    .titulo_cadastro h2,
    .titulo_cadastro span {
        font-size: 5vh;
    }

    .campo_input label {
        font-size: 2.5vh;
    }

    .campo_input input,
    .campo_input select {
        height: 4.5vh;
        font-size: 2vh;
    }

    .campo_input button {
        height: 7vh;
        font-size: 2.5vh;
    }

    #botao1,
    #botao2 {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .fundo_colorido9 {
        height: auto;
        padding: 2vh 0;
    }

    .campo_input {
        width: 90%;
        padding: 3vh;
        height: auto;
    }

    .titulo_cadastro h2,
    .titulo_cadastro span {
        font-size: 4vh;
    }

    .campo_input label {
        font-size: 2vh;
    }

    .campo_input input,
    .campo_input select {
        height: 4vh;
        font-size: 1.8vh;
    }

    .campo_input button {
        height: 6vh;
        font-size: 2vh;
    }

    #botao1,
    #botao2 {
        width: 100%;
    }
}