.topo {
    display: flex;
    height: 15vh;
    flex-direction: row;
    align-items: center;
    padding: 5vh;
    justify-content: space-between;

    img {
        height: 10vh;
        width: 10vh;
    }

    .alinhar {
        display: flex;
        margin-top: 1.8vh;
        cursor: pointer;
    }

    a {
        text-decoration: none;
    }

    h4 {
        display: flex;
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2.3vh;
        color: #303261;
        width: 30vh;
        padding-top: 1.2vh;
    }

    .conexoes {
        display: flex;
        flex-direction: row;
        gap: 10vh;
        align-items: center;

        a {
            text-decoration: none;
            transition: all 0.5s;
            color: black;
        }

        a:hover {
            color: rgb(88, 88, 88);
        }

        h1 {
            font-size: 3vh;
            font-family: "Archivo Regular", sans-serif;
            font-weight: 600 !important;
            font-style: normal;
        }

        button {
            font-size: 3vh;
            font-family: "Archivo Regular", sans-serif;
            font-weight: 600 !important;
            font-style: normal;
            width: 35vh;
            background-color: #F5B11B;
            border: #F5B11B solid 0.5vh;
            height: 10vh;
            cursor: pointer;
            outline: none;
            border-radius: 1vh;
            transition: all 0.5s;
        }

        button:hover {
            background-color: transparent;
        }
    }
}

@media screen and (max-width: 767px) {
    .topo {
        flex-direction: column;
        height: auto;
        padding: 2vh;

        .alinhar {
            padding-right: 0;
            margin-bottom: 2vh;
        }

        .conexoes {
            display: none !important;
        }
    }

    .separador {
        flex-direction: column;

        .lado_esquerdo {
            width: 100% !important;
            padding: 3vh;
            text-align: center;

            h1 {
                font-size: 4vh !important;
                width: 100%;
                background-color: #F5B11B;
            }

            h3 {
                font-size: 2.5vh !important;
                width: 100%;
            }

            button {
                width: 30vh;
                margin: 0 auto;
            }

            .bloco {
                margin: 0 auto;
            }
        }

        .lado_direito {
            display: none;
        }
    }
}