* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.fundo_colorido3 {
    display: flex;
    padding: 5vh;
    justify-content: space-around;
    align-items: center;
    background-color: #23458B;
    height: 80vh;
    width: 100%;

    .lado_esquerdo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 80vh;
        background-color: red;
    }

    h1 {
        color: white;
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 7vh;
    }

    span {
        color: #F5BA53;
    }

    .lado_direito {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 80vh;
        background-color: aquamarine;
    }
}