* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.fundo_colorido7 {
    display: flex;
    background-color: #303261;
    height: 85vh;
    width: 100%;
    justify-content: center;
    align-items: center;

    .bloco {
        display: flex;
        background-color: #F5B11B;
        width: 20vh;
        height: 2.2vh;
    }

    .alinhador {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .conteudo {
            display: flex;
            gap: 2vh;
            flex-direction: column;
            width: 50%;
            padding: 7vh;

            h1 {
                font-family: "Archivo Black", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 7vh;
                color: white;
                width: 120vh;
            }

            .descricao {
                display: flex;
                background-color: #F5BA53;
                padding: 3vh;

                h3 {
                    font-family: "Archivo Black", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 3vh;
                    width: 100%;
                    text-align: justify;
                }
            }
        }

        .imagem {
            display: flex;
            background-color: blue;
            align-items: center;
            height: 85vh;
            width: 50%;
        }
    }
}